{
  "openapi": "3.0.0",
  "info": {
    "title": "Tsimulus as a Service",
    "description": "Websocket configuration api serving tsimulus time series simulations.\nThe websocket is located at the path  /socket\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://tsaas-prod-api.openshift.ext.cetic.be",
      "description": "prod-online"
    },
    {
      "url": "http://tsaas-dev-api.openshift.ext.cetic.be",
      "description": "dev-online"
    },
    {
      "url": "http://192.168.99.100:31157",
      "description": "minikube"
    },
    {

      "url": "localhost:8080",
      "description": "local"
    }
  ],
  "paths": {
    "/stream": {
      "get": {
        "description": "List all the available configurations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebsocketConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Posts a stream configuration and assigns a stream id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/stream/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/streamIdParam"
        }
      ],
      "get": {
        "description": "Gives the configuration for the stream with id {id}",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketConfiguration"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "post": {
        "description": "Post a configuration for the stream with id {id}",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deleted configuration for the stream with id {id}",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/stream/{id}/act": {
      "parameters": [
        {
          "$ref": "#/components/parameters/streamIdParam"
        }
      ],
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Action"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserFeedback"
                },
                "example": {
                  "msg": "Stream stopped"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UserFeedback"
                    },
                    {
                      "$ref": "#/components/schemas/Status"
                    }
                  ]
                },
                "example": {
                  "oneOf": [
                    {
                      "msg": "Streaming valid"
                    },
                    {
                      "running": false,
                      "configured": true
                    }
                  ]
                }
              }
            }
          },
          "449": {
            "description": "Retry With",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserFeedback"
                },
                "example": {
                  "msg": "Stream not configured."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserFeedback"
                },
                "example": {
                  "msg": "Streaming could not start because of <ERROR MESSAGE>"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "streamIdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "71f0d26e-f3aa-4f04-868b-5aaf304dfe5b"
        }
      }
    },
    "schemas": {
      "Action": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "start",
              "stop",
              "status",
              "validate"
            ]
          }
        }
      },
      "UserFeedback": {
        "type": "object",
        "description": "User feedback",
        "properties": {
          "msg": {
            "type": "string"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "running": {
            "type": "boolean"
          },
          "starting": {
            "type": "boolean"
          },
          "configured": {
            "type": "boolean"
          }
        }
      },
      "StreamConfiguration": {
        "type": "object",
        "properties": {
          "speed": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Speed"
              },
              {
                "$ref": "#/components/schemas/SpeedFactor"
              }
            ]
          },
          "template": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Template"
              },
              {
                "$ref": "#/components/schemas/TemplateMaps"
              }
            ]
          },
          "config": {
            "$ref": "#/components/schemas/TsimulusConfiguration"
          },
          "type": {
            "type": "string",
            "example": "tsimulus"
          }
        },
        "example": {
          "config": {
            "generators": [
              {
                "name": "daily-generator",
                "type": "daily",
                "points": {
                  "6:00:00.000": 11,
                  "12:00:00.000": 12,
                  "18:00:00.000": 11,
                  "0:00:00.000": 12
                }
              },
              {
                "name": "daily-generator2",
                "type": "daily",
                "points": {
                  "6:00:00.000": 7,
                  "12:00:00.000": 8,
                  "18:00:00.000": 9,
                  "0:00:00.000": 6
                }
              },
              {
                "name": "noisy-daily",
                "type": "aggregate",
                "aggregator": "sum",
                "generators": [
                  "daily-generator",
                  {
                    "type": "arma",
                    "model": {
                      "phi": [
                        0.5
                      ],
                      "std": 0.25,
                      "c": 0,
                      "seed": 159357
                    },
                    "timestep": 180000,
                    "origin": "2018-10-01 0:00:00.000"
                  }
                ]
              }
            ],
            "exported": [
              {
                "name": "tlm_1",
                "generator": "noisy-daily",
                "frequency": 30000
              },
              {
                "name": "tlm_2",
                "generator": "daily-generator2",
                "frequency": 15000
              }
            ],
            "from": "2018-10-01 00:00:00.000",
            "to": "2018-12-06 00:00:00.000"
          },
          "templates": [
            {
              "seriesName": "tlm_1",
              "template": {
                "template": "{\n\"msg_dt\": \"${t?number_to_datetime?string[\"yyyy-MM-dd'T'HH:mm:ss.'000000Z'\"]}\",\n\"serial_number\": \"18600006\",\n  \"n_devices\": 1,\n  \"device_1\": {\n    \"metadata\": {\n      \"n\": 1,\n      \"name\": \"periodic_example\",\n      \"location\": \"Micromega Dynamics\",\n      \"latitude\": 50.701874,\n      \"longitude\": 4.594015,\n      \"n_channels\": 1,\n      \"type\": 1,\n      \"remote_processing\": 1,\n      \"tlm_type\": 1\n    },\n    \"channel_0\": {\n      \"n\": 0,\n      \"name\": \"example_0\",\n      \"units\": \"mA\",\n      \"local_processing\": 0,\n      \"sampling_f\": 250,\n      \"n_stats\": 0,\n      \"rms_data\": \"\",\n      \"avg_data\": \"\",\n      \"min_data\": \"\",\n      \"max_data\": \"\",\n      \"peak_peak_data\": \"\",\n      \"peak_data\": \"\",\n      \"skewness_data\": \"\",\n      \"kurtosis_data\": \"\",\n      \"std_data\": \"\",\n      \"n_events\": 0,\n      \"warning\": \"\",\n      \"alarm\": \"\",\n      \"n_raw_data\": 250,\n      \"raw_data\": \"${b64(\"little\", noise(1,replicate(250, x)))}\"\n    }\n  }\n}",
                "timeVariable": "t",
                "nameVariable": "name",
                "valueVariable": "x"
              }
            },
            {
              "seriesName": "tlm_2",
              "template": {
                "template": "{\n\"msg_dt\": \"${t?number_to_datetime?string[\"yyyy-MM-dd'T'HH:mm:ss.'000000Z'\"]}\",\n\"serial_number\": \"18600005\",\n  \"n_devices\": 1,\n  \"device_1\": {\n    \"metadata\": {\n      \"n\": 1,\n      \"name\": \"periodic_example\",\n      \"location\": \"Micromega Dynamics\",\n      \"latitude\": 51.701874,\n      \"longitude\": 3.594015,\n      \"n_channels\": 1,\n      \"type\": 1,\n      \"remote_processing\": 1,\n      \"tlm_type\": 5\n    },\n    \"channel_0\": {\n      \"n\": 0,\n      \"name\": \"example_0\",\n      \"units\": \"mA\",\n      \"local_processing\": 0,\n      \"sampling_f\": 250,\n      \"n_stats\": 0,\n      \"rms_data\": \"\",\n      \"avg_data\": \"\",\n      \"min_data\": \"\",\n      \"max_data\": \"\",\n      \"peak_peak_data\": \"\",\n      \"peak_data\": \"\",\n      \"skewness_data\": \"\",\n      \"kurtosis_data\": \"\",\n      \"std_data\": \"\",\n      \"n_events\": 0,\n      \"warning\": \"\",\n      \"alarm\": \"\",\n      \"n_raw_data\": 250,\n      \"raw_data\": \"${b64(\"little\", noise(1,replicate(250, x)))}\"\n    }\n  }\n}",
                "timeVariable": "t",
                "nameVariable": "name",
                "valueVariable": "x"
              }
            }
          ],
          "speed": "realtime",
          "type": "tsimulus"
        }
      },
      "Speed": {
        "type": "string",
        "enum": [
          "inf",
          "realtime"
        ]
      },
      "SpeedFactor": {
        "type": "number"
      },
      "Template": {
        "type": "object",
        "properties": {
          "template": {
            "type": "string",
            "description": "Apache FreeMarker template.",
            "externalDocs": {
              "url": "http://www.freemarker.org",
              "description": "Apache FreeMarker template engine"
            }
          },
          "timeVariable": {
            "type": "string",
            "description": "name of the time variable"
          },
          "nameVariable": {
            "type": "string",
            "description": "name of the series name variable"
          },
          "valueVariable": {
            "type": "string",
            "description": "name of the value variable"
          }
        }
      },
      "TemplateMaps": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "seriesName": {
              "type": "string",
              "description": "name of the Tsimulus series"
            },
            "template": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "TsimulusConfiguration": {
        "description": "Tsimulus time series simulator configuration json",
        "externalDocs": {
          "url": "https://tsimulus.readthedocs.io/en/latest/",
          "description": "Tsimulus, a realistic time series simulator"
        }
      },
      "WebsocketConfiguration": {
        "type": "object",
        "properties": {
          "streamId": {
            "type": "string",
            "format": "uuid",
            "example": "71f0d26e-f3aa-4f04-868b-5aaf304dfe5b"
          },
          "streamConfig": {
            "$ref": "#/components/schemas/StreamConfiguration"
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://git.cetic.be/TSimulus/tsimulus-saas",
    "description": "Tsimulus as a service git repo"
  }
}
